
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(0, 0, 0);  
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}
.menuheader{
    display: none;
}
.ulheaderdanhmuc:hover .menuheader{
    display: block;
}
.menuheader {
    position: absolute;
    background-color: white;
    width: 85%;
    overflow-y: scroll;
    line-height: 30px;
    height: 400px;
    padding-left: 5px;
}
.adanhmuc {
    color: white;
    padding-top: -5%;
    font-size: 20px;
    text-decoration: none;
}
.ulheaderdanhmuc li {
    list-style-type: none;
}
.menuheader li a{
    text-decoration: none;
}
.tieudemin:hover{
    color: #f26522;
}
.menuheader li:hover {
    color: #ffffff;
    background: #f26522;
    width: 100%;
}

.menutab{
    background-color: #f26522;
    display: none;
}

.item-left {
    margin: 5%;
}
.item-left-top{
    position: relative;
}
.item-left-bottom{
    padding-top: 0.5%;
    position: absolute;
    margin-left: -2%;
}
input,
input::placeholder {
    font: 100%/3 sans-serif;  
}


/* centerheader */


.item-center{
    width: 50%;
    margin-left: -5%;
}
.item-center-top{
    color: #ffffff;
    max-width:100%;
    margin: 0 0 0% 2%;
    overflow: hidden;
}

@media (min-width:0px) and (max-width:820px){
    .header{
        height: 100px;
    }
    .item-center-top{
        display: none;
    }
    .fas{
        background-color: #f26522;
    }
    .menutab{
        font-size: 70%;
        display: flex;
        background-color: #f26522;
        text-decoration: none;
    }
    .ulheaderdanhmuc{
        margin-top: -50%;
        margin-left: 80% ;
    }
    .adanhmuc{
        display: none;
    }
    .logoheader{
        width: 55%;
        margin-left: 50%;
    }
    .item-center-bottom{
        margin-left: 5%;
    }
    .menuheader{
    width: 300px;
    background-color: white;
    margin-left: -180%;
    overflow-y: scroll;
    top: -65px;
    height: 500px;
    line-height: 30px;
    }
    .item-right .fas{
        font-size: 200%;
        height: 30px;
        background-color: rgb(0, 0, 0);
    }
    .item-right .cartCount{
        font-size: 15px;
        position: relative;
        margin-top: 3px;
    }
    .item-right .fa{
        font-size: 200%;
        height: 30px;
        background-color: rgb(0, 0, 0);
        margin-top:-3px ;
    }
    .item-right .achu1{
       display: none; 
    }
    .item-right .achu{
        display: none; 
     }
     .item-right .achu2{
        display: none; 
     }
}

.marqueenheader .spanheader{
    font-size: 14px;
    font-family: Verdana;
    animation: animateheaderct 25s infinite;
    display: inline-block;
    width: 135%;
    left: 200%;
}

@keyframes animateheaderct {
    0% {
            transform: translateX(75%);
        }
    100%{
    transform: translateX(-100%);
    }
}

.item-center-bottom{
    display: flex;
}

.item-center-bottom input[type=text] {
    font-size: 100%;
    width: 90%;
    padding: 0% 5% ;
    margin: 1% 0% 2% 2%;
    box-sizing: border-box;
    border: 3px solid #f26522;
    outline: none;
  } 
.item-center-bottom input{
    padding-bottom: -20px
}


.item-center-bottom button{
    background-color: #f26522;
    border: none;
    padding-right: 2%;
    padding-left: 2%;
    color: white;
    font-size: 150%;
    margin: 1% 0% 2% -1%;
}
.item-center-bottom:hover button{
    background-color: #fd7e14;
}
.item-right{
    display: flex;
    width: 25%;
}
.fas{
    transform: rotateY(180deg);
    font-size: 280%;
    margin-left: 5%;
    color:#ffffff;
}
.cartCount{
    background-color: #f26522;
    color: rgb(241, 232, 232) ;
    text-decoration: none;
    border-radius: 50% 50%;
    margin: 2.5% 2% 0% -2.5% ;
    display: inline-block;
    height: 10%;
}
.achu2{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
}
.achu1{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
}
.achu{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
    list-style-type: none;
}
.gachthang{
    font-size: 150%;
    margin:-1% 2% 0% 0%;
    color: #ffffff;
}
.fa{
    color: #ffffff;
    margin: 3% 2% 0 0;;
    font-size: 130%;
}
.achu1:hover{
    color: #f26522;
}
.achu2:hover{
    color: #f26522;
}



