*{
    margin: 0;
    padding: 0;
}


.header{
    background-color: rgb(0, 0, 0);  
    height: 130px;  
    position: relative;
    display: flex;
    align-items: center;
}
.item-left {
    margin: 5%;
}
.item-left-top{
    position: relative;
}
.item-left-bottom{
    padding-top: 0.5%;
    position: absolute;
    margin-left: -2%;
}

input,
input::placeholder {
    font: 100%/3 sans-serif;
    
}
.item-center{
    width: 50%;
    margin-left: -5%;
}
.item-center-top{
    color: #f26522;
    width: 97.5%;
    background-color: #ffffff;
    margin: 0 0 0 2%;
    
    
}
.item-center-bottom{
    display: flex;
}

.item-center-bottom input[type=text] {
    font-size: 100%;
    width: 90%;
    padding: 0% 5% ;
    margin: 1% 0% 2% 2%;
    box-sizing: border-box;
    border: 3px solid #f26522;
    outline: none;
  }

.item-center-bottom button{
    background-color: #f26522;
    border: none;
    padding-right: 2%;
    padding-left: 2%;
    color: white;
    font-size: 150%;
    margin: 1% 0% 2% -1%;
}
.item-center-bottom:hover button{
    background-color: #fd7e14;
}
.item-right{
    display: flex;
    width: 25%;
}
.fas{
    transform: rotateY(180deg);
    font-size: 280%;
    margin-left: 5%;
    color:#ffffff;
}
.cartCount{
    background-color: #f26522;
    color: rgb(241, 232, 232) ;
    text-decoration: none;
    border-radius: 50% 50%;
    margin: 2.5% 2% 0% -2.5% ;
    display: inline-block;
    height: 10%;
}
.achu2{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
}
.achu1{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
}
.achu{
    text-decoration: none;
    color: white;
    margin: 2% 1% 0 0 ; 
    list-style-type: none;
}
.gachthang{
    font-size: 150%;
    margin:-1% 2% 0% 0%;
    color: #ffffff;
}
.fa{
    color: #ffffff;
    margin: 3% 2% 0 0;;
    font-size: 130%;
}
.achu1:hover{
    color: #f26522;
}
.achu2:hover{
    color: #f26522;
}




/* -webkit-tap-highlight-color: transparent;
line-height: 1.7;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
letter-spacing: 0.25px;
font-size: 14px;
color: #333;
font-family: 'UTMFacebook';
box-sizing: border-box;
position: fixed;
z-index: 9999;
left: 10px;
top: 50%;
background: #f26522;
border-radius: 5px;
margin-top: -137px; */