
.meni{
    display: none;
    
}
.aqw:hover .meni{
    display: block;
}
.meni {
    position: absolute;
    background-color: white;
    width: 85%;
}
.adanhmuc {
    padding-bottom: 20px;
    color: white;
    height: 20px;
    font-size: 20px;
    text-decoration: none;
}
.aqw li {
    list-style-type: none;
    
}
.meni li a{
    text-decoration: none;
}
.adanhmuc:hover{
    color: #fff;
} 
