
.menuheader{
    display: none;
    
}
.ulheaderdanhmuc:hover .menuheader{
    display: block;
}
.menuheader {
    position: absolute;
    background-color: white;
    width: 85%;
}
.adanhmuc {
    color: white;
    padding-top: -5%;
    font-size: 20px;
    text-decoration: none;
}
.ulheaderdanhmuc li {
    list-style-type: none;
    
    
}
.menuheader li a{
    text-decoration: none;
    border-right: 2px solid #f26522;
}
.adanhmuc:hover{
    color: #fff;
} 
